<tr id="<%=company.id %>">
        <td><%= company.name %></td>
        <td width="30%"><%= company.number_of_employees %></td>
        <td><%= company.address %></td>
        <td width="3%"><%= link_to company do %><i class="fa fa-eye fa-fw"></i><%end%></td>
        <td width="3%"><%= link_to edit_company_path(company) do %><i class="fa fa-pencil"></i><%end%></td>
        <td width="3%"><%= link_to company, method: :delete, data: {confirm: 'Are you sure?'} do %><i class="fa fa-times"></i><%end%></td>
        
</tr>