<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li id="home" class="sidebar-brand">
      <span class='text-left maximize-sidebar'><a href="#" id="menu-toggle"><i style="margin-right: 10px;" class="sideBarToggle fa fa-angle-double-right fa-3x"></i></a></span>
      <a style='position: absolute;' href="/" class="brand-label">
        Time Track
      </a>
      <span class='text-right minimize-sidebar'><a href="#" id="menu-toggle"><i style="margin-right: 10px;" class="sideBarToggle fa fa-angle-double-left fa-3x"></i></a></span>

    </li>
    <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
            <li id="admin">
              <%= link_to '/admin' do %>
                  <span style="float: left; margin-left: -20px;"><i class="fa fa-user-secret" aria-hidden="true"></i></span><span>Admin</span>
              <% end %>
            </li>
            <li id="users">
            <%= link_to users_path  do %>
                  <span style="float: left; margin-left: -20px;"><i class="fa fa-users" aria-hidden="true"></i></span><span>Users</span>
            <% end %>
            </li>
        <% end %>
        <li id="companies">
          <%= link_to companies_url do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-building" aria-hidden="true"></i></span><span>Companies</span>
          <% end %>
        </li>
        <li id="clients">
          <%= link_to clients_url do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-cubes" aria-hidden="true"></i></span><span>Clients</span>
          <% end %>
        </li>
        <li id="projects">
          <%= link_to projects_url do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-shield" aria-hidden="true"></i></span><span>Projects</span>
          <% end %>
        </li>
        <li id="time_tracks">
          <%= link_to time_tracks_url do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>Track Time</span>
          <% end %>
        </li>
        <li id="reports">
          <%= link_to reports_url do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-bar-chart" aria-hidden="true"></i></span><span>Reports</span>
          <% end %>
        </li>
    <% end %>
    <% if user_signed_in? %>
        <li id="edit">
          <%= link_to edit_user_registration_path do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-pencil-square" aria-hidden="true"></i></span><span>Edit account</span>
          <% end %>
        </li>
        <li id="sign_out">
          <%= link_to destroy_user_session_path, :method=>'delete' do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-sign-out" aria-hidden="true"></i></span><span>Sign out</span>
          <% end %>
        </li>
    <% else %>
        <li id="sign_in">
          <%= link_to new_user_session_path do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-sign-in" aria-hidden="true"></i></span><span>Sign in</span>
          <% end %>
        </li>
        <li id=sign_up>
          <%= link_to new_user_registration_path do %>
              <span style="float: left; margin-left: -20px;"><i class="fa fa-user-plus" aria-hidden="true"></i></span><span>Sign up</span>
          <% end %>
        </li>
    <% end %>

  </ul>
</div>
<!-- /#sidebar-wrapper -->

<script type="text/javascript">
  $(document).ready(function(){
      if('<%= params[:controller] %>' == 'visitors' && '<%= params[:action] %>' == 'reports' ){
          $('.sidebar-nav #<%= params[:action] %>').css("background","rgba(255,255,255,0.2)");
      }else{
          $('.sidebar-nav #<%= params[:controller] %>').css("background","rgba(255,255,255,0.2)");
      }
    });
</script>


